{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block content %}

<h1>{% trans "Continue to sign in with Eve Online" %}</h1>
{% include "socialaccount/snippets/login_extra.html" %}
<center><a href="{% provider_login_url 'eveonline' process='login' method='oauth2'%}"><img src="{% static 'timerboard/eve-sso-login-white-large.png' %}"></a></center>


{% get_providers as socialaccount_providers %}


{% endblock %}