{% extends timerboard.html %}

<form method="POST" action="{% url 'timerboard-add' %}">
    {% csrf_token %}
    <label for="timerName">Name</label>
    <input id="timerName" type="text" name="name" maxlength="64" required>
</form>