{% load socialaccount %}
<html>
    <head>
        <title>{% block title %} Sign-in {% endblock %}</title>
    </head>
    <body>
        <h1 class="title is-1"><center>Sign in to EVE for Access</center></h1>
        {% block content %}
    </body>
</html>
<h1>Sign into EVE for access</h1>
{% if user.profile.is_authenticated %}
{% else %}
<a href="{% provider_login_url 'eveonline' %}">Login</a>
{% endif %}
{% endblock %}