{% load socialaccount %}
{% load static %}
<html class="has-background-grey-dark">
    <head>
        <title>
            {% block title %} Timerboard {% endblock %}
        </title>
        

    </head>
    
    <body>
        
        {% block content %}
        <h1 class="title is-1 has-text-white"><center>Timerboard</center></h1>

        
        <div class="container is-fluid level">
            <div class="level-left">
                <div class="level-item">
                    <button class="js-modal-trigger button is-primary" data-target="modal-js-example">
                        Add Timer
                      </button>
                </div>
            </div>
            <div class="level-right has-text-white">
                <p class="level-item">Logged in as {{ request.user.first_name }} {{ request.user.last_name }}</p>
                <p class=class="level-item"><a class="has-text-primary" href="/accounts/logout">Logout</a></p>
            </div>
        </div>
            
                
        
        <div class="container is-fluid">
        <table class="table is-fullwidth has-background-grey-dark has-text-white">
            <thead>
                <th class="has-text-white" scope="col">Name</th>
                <th class="has-text-white" scope="col">Type</th>
                <th class="has-text-white" scope="col">Stage</th>
                <th class="has-text-white" scope="col">Location</th>
                <th class="has-text-white" scope="col">Owner</th>
                <th class="has-text-white" scope="col">EVE Time</th>
                <th class="has-text-white" scope="col">Remaining</th>
                <th class="has-text-white" scope="col">User</th>
                <th class="has-text-white" scope="col">Action</th>
            </thead>
            <tbody>
                {% for evetimer in timers %}
                <tr>
                    <td>
                        <p>{{evetimer.name}}</p>
                    </td>
                    <td>
                        <p>{{evetimer.type}}</p>
                    </td>
                    <td>
                        <p>{{evetimer.stage}}</p>
                    </td>
                    <td>
                        <p>{{evetimer.location}}</p>
                    </td>
                    <td>
                        <p>{{evetimer.owner}}</p>
                    </td>
                    <td>
                        <p>{{evetimer.time |date:'m.d.Y H:i:s'}}</p>
                    </td>

                    <td data-order="{{evetimer.timer}}">
                        <div class="remaining">
                            <p class="date" hidden>{{evetimer.time.isoformat}}</p>
                            <p class="counter"><i class="fa fa-spinner fa-spin"></i></p>
                        </div>
                    </td>
                    <td>
                        <p>{{ evetimer.user }}</p>
                    </td>
                    <td>
                        <a href="{% url 'timerboard-remove' evetimer.pk %}">
                            <button class="button is-danger is-small">X</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        <div id="modal-js-example" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <form method="POST" action="{% url 'timerboard-add' %}">
                    {% csrf_token %}
                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                Type
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input class="input" id="type" type="text" name="type" maxlength="64" required>
                                        </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                Stage
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input class="input" id="stage" type="text" name="stage" maxlength="64" required>
                                        </div>
                                </div>
                            </div>
                        </div>
    
                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                Owner
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input class="input" id="owner" type="text" name="owner" maxlength="64" required>
                                        </div>
                                </div>
                            </div>
                        </div>
    
                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                Timer
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                                <input class="input" id="timer" type="text" name="timer" required>
                                            </div>
    
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                              <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                  <button class="button is-primary">
                                    Submit
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                </form>
            </div>
        </div>
        {% endblock %}

    </body>
    <link rel="stylesheet" type="text/css" href="{% static 'timerboard/style.css' %}">
    <script src="{% static 'timerboard/scripts.js' %}"></script>
    

</html>