@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
.addform {
    margin: auto;
    width: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
}

html.dark-theme {
    color: #eee;
    background: #121212;
}